<h2>Contact Us</h2>
<ul>
  <li><strong>Instructor:</strong> Jaya Kumar</li>
  <li><strong>Phone:</strong> 9666061305 </li>
  <li><strong>Email:</strong> <a href="mailto:Omsairamvehicleinsurance@gmail.com">Omsairamvehicleinsurance@gmail.com</a></li>
  <li><strong>School Name:</strong> Om Sai Ram Motor Driving School</li>
</ul>